/*-------------------------------------------------------------------
Colors
-------------------------------------------------------------------*/
$colorBlack: #111111;
$colorGrafitti: #212121;
$colorGray: #909090;
$colorDarkGray: #2F2F2F;
$colorMediumGray: #353535;
$colorLightGray: #EEEEEE;
$colorSilver: #D9D9D9;
$colorRed: #A30A0A;
$colorLightRed: #BB0000;

/*-------------------------------------------------------------------
Typography
-------------------------------------------------------------------*/
$textSizecontent: 16px;
$textSizeH1: 40px;
$TextSizeHero: 55px;
$textSizeH2: 32px;

$textFontContent: 'Roboto',
sans-serif;

h1,
h2,
h3,
h4,
h5,
h5 {
    margin: 0;
}

h1 {
    font-size: $textSizeH1;
}

h2 {
    font-size: $textSizeH2;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 20px;
}

b {
    font-weight: 600;
}

.c__title {
    display: inline-block;
    position: relative;
    margin-bottom: 30px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 3px;
        background: $colorRed;
    }
}

.c__highlight-text {
    color: $colorLightRed;
}

/*-------------------------------------------------------------------
Transition
-------------------------------------------------------------------*/
%transition {
    transition: all 300ms;
}

/*-------------------------------------------------------------------
Flex
-------------------------------------------------------------------*/

.l-flex {
    display: flex;
}

.l-flex--center {
    justify-content: center;
    align-items: center;
}

.l-flex--stretch {
    align-items: stretch;
}

.l-flex--wrap {
    flex-wrap: wrap;
}

.l-flex--negative {
    margin-left: -12px;
    margin-right: -12px;
}

.l-flex--vertical {
    flex-direction: column;
}

.l-flex__left {
    margin-right: auto;
}

.l-flex__right {
    margin-left: auto;
}

%flexPadding {
    padding: 12px;
}

%flexColLessPadding {
    padding: 0 12px 12px 0;
}

.l__col-2-4 {
    @extend %flexPadding;
    width: 20%;
}

.l__col-3 {
    @extend %flexPadding;
    width: 25%;
}

.l__col-4 {
    @extend %flexPadding;
    width: 33.33%;
}

.l__col-6 {
    @extend %flexPadding;
    width: 50%;
}

.l__col-8 {
    @extend %flexPadding;
    width: 66.66%;
}

.l__col-9 {
    @extend %flexPadding;
    width: 75%;
}

.l__col-12 {
    @extend %flexPadding;
    width: 100%;
}

.l__col--less-padding {
    @extend %flexColLessPadding;
}

/*-------------------------------------------------------------------
General
-------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

body {
    background: $colorGrafitti;
    color: white;
    font-size: $textSizecontent;
    font-family: $textFontContent;
}

:focus {
    outline: none;
}

img {
    max-width: 100%;
}

.c__center {
    text-align: center;
    text-align-last: center;
}

a {
    @extend %transition;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.c__container {
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1240px;
}

.c__logo {

    &:hover,
    &:focus {
        filter: brightness(1.3);
    }
}

/*-------------------------------------------------------------------
Buttons
-------------------------------------------------------------------*/
.c__button {
    position: relative;
    padding: 10px 15px;
    background: $colorRed;
    color: white;
    text-transform: uppercase;
    overflow: hidden;

    &:hover,
    &:focus {
        animation: button-highlight 1s infinite;
    }

    @keyframes button-highlight {
        from {
            background: $colorRed;
        }

        50% {
            background: $colorLightRed;
        }

        to {
            background: $colorRed;
        }
    }

    &.c__button--gray {
        background: $colorGray;

        &:hover,
        &:focus {
            animation: button-highlight-gray 1s infinite;
        }

        @keyframes button-highlight-gray {
            from {
                filter: brightness(.8);
            }

            50% {
                filter: brightness(1);
            }

            to {
                filter: brightness(.8);
            }
        }
    }

    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-color: white;
        border-width: 4px;
        border-style: solid;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
}

/*-------------------------------------------------------------------
Header
-------------------------------------------------------------------*/
.c-header {
    position: fixed;
    width: 100%;
    padding: 20px;
    background: $colorBlack;
    box-shadow: rgba(0, 0, 0, .35) 0 0 4px 0;
    z-index: 10;
}

.c-nav {
    .c-nav__link {
        position: relative;
        padding: 12px 20px;
        opacity: .8;

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            bottom: 5px;
            left: 50%;
            width: 80%;
            height: 2px;
            background: $colorRed;
            transform: translateX(-50%) scale(0);
            transform-origin: center;
            @extend %transition;
        }

        &:hover,
        &:focus,
        &.active {
            opacity: 1;

            &:after {
                transform: translateX(-50%) scale(1);
            }
        }
    }
}

/*-------------------------------------------------------------------
Sections
-------------------------------------------------------------------*/
.c-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background: $colorBlack;

    &.c-section--hero {
        position: relative;
        margin-top: 60px;
        height: calc(100vh - 60px);
        background: linear-gradient(0deg, rgba(0, 0, 0, .22), rgba(0, 0, 0, .8)), url('/wp-content/themes/eos-dev/dist/img/hero-banner.webp') center center repeat;
        background-size: cover;

        h1 {
            font-size: $TextSizeHero;
            font-weight: 300;
        }

        .c__container {
            height: 100%;
        }

        .c-section--hero__content {
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .c-section--hero__typed-text {
            display: block;
            color: $colorLightRed;
            font-weight: 600;

            .ti-cursor {
                color: rgba(255, 255, 255, .4) !important;
                font-weight: 300 !important;
            }
        }

        .c-section--hero__mouse-icon {
            position: absolute;
            bottom: 20px;
            left: 50%;
            animation: mouse 1.2s infinite;
            transform: translateX(-50%);
        }

        @keyframes mouse {
            from {
                bottom: 35px;
                opacity: .4;
            }

            to {
                bottom: 20px;
                opacity: .8;
            }
        }
    }

    &.c-section--grafitti {
        background: $colorGrafitti;
    }

    &.c-section--less-padding {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

//Section About
.c-intro {
    .c-intro__photo {
        margin-right: 20px;
    }

    span {
        color: $colorSilver;
        font-size: 20px;
    }
}

.c-about {
    padding-left: 30px;
    border-left: 1px solid $colorMediumGray;

    p {
        max-width: 80%;
    }

    .c__button {
        &:not(:first-of-type) {
            margin-left: 5px;
        }
    }
}

//Section Counter
.c-counter {
    padding-right: 20px;
    border-right: 1px solid $colorMediumGray;

    .c-counter__img {
        margin-right: 10px;
    }

    .c-counter__number {
        color: $colorLightRed;
        font-size: 35px;
        font-weight: 600;

        &:before {
            content: '+';
        }
    }
}

.l-flex article:last-child .c-counter {
    border-right: none;
}